<script type="text/javascript">
    $("#about").addClass("active");
    //$("#home").removeClass("active");
    //$("#progress").removeClass("active");
</script>
<h1>About</h1>
<h2>This site is the front end for a twitch.tv chat bot.</h2>
<br>
<h3>Why is the bot called Zojibot?</h3>
<p>My twitch.tv name is CallMeZoji.</p>
<br>
<h3>What’s the purpose of this site?</h3>
<p>It’s a front end for my bot! You can add, remove, and edit your commands that
    the bot will respond to as well as start and stop the bot any time you want,
    all from this site. As for why I made it, I was looking to learn some new
    stuff in web development as well as make something for a community that I’m
    passionate about.
</p>
