<head>
    <title>Dashboard | Zojibot</title>
</head>
<div class="container-row">
    <div class="row">
        <div class="col-md-4">
            <h1>Dashboard</h1>
            <p><%=session[:name]%>'s page</p>
        </div>
    </div>
</div>
