<head>
    <title>Dashboard | Zojibot</title>
</head>
<div class="container-fluid">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active" id="statustab"><a href="#">Status</a></li>
      <li role="presentation" id="commandtab"><a href="#">Commands</a></li>
      <li role="presentation" id="settingstab"><a href="#">Settings</a></li>
    </ul>
</div>
<div class="container-fluid" id="status">
    <div class="row">
        <div class="col-md-4">
            <h1>Status</h1>
            <p id="test"><%=session[:name]%>'s page</p>
        </div>
    </div>
</div>

<div class="container-fluid" id="commands">
    <div class="row">
        <h1>Commands</h1>
    </div>
    <div class="row"><!--TODO: If no commands, have none-->
        <table class="table table-striped">
            <tr>
                <th>Command</th>
                <th>Response</th>
                <th>User level</th>
            </tr>
            <%Command.where(username: session[:name]).each do |c|#batches%>
                <tr>
                    <td><%=c.call%></td>
                    <td><%=c.response%></td>
                    <td><%=c.userlevel%></td>
                </tr>
            <%end%>
        </table>
    </div>
</div>

<div class="container-fluid" id="settings">
    <div class="row">
        <h1>Settings</h1>
    </div>
</div>
