<head>
    <title>Dashboard</title>
</head>

<div class="col-md-4">
    <h1>Dashboard</h1>
    <p>Dashboard page</p>
</div>

<div class="col-md-4">
    <h1>Col 2</h1>
</div>

<div class="col-md-2">
    <h1>Col 3</h1>
</div>

<div class="col-md-2">
    <h1>Col 4</h1>
</div>
