<div class="container">
    <div class="col-md-6">
        <div class="row">
            <h1>Zojibot</h1>
        </div>
        <div class="row">
            <a class="btn btn-default login-btn" href="/login">Log in</a>
        </div>
        <div class="row">
            <p>The bot itself is down for maintenance, but the rest of the site can be used.</p>
        </div>
    </div>
</div>
