<div class="container">
    <div class="row">
        <p>Features I'm looking at implementing (in no particular order)</p>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Feature</th>
            </tr>
            <tr>
                <td>Visual update/styling</td>
            </tr>
            <tr>
                <td>Command editing</td>
            </tr>
            <tr>
                <td>Paging tools on command tab</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <p>Notes: Visual styling stuff is probably at the bottom of the list, as other are more fundamental features.</p>
    </div>
</div>
<script type="text/javascript">
    $("#progress").addClass("active");
    //$("#home").removeClass("active");
    //$("#about").removeClass("active");
</script>
