// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-btn
    background-color: rgb(0,200,0)
    border-color: rgb(0,200,0)
    border-radius: 0px
.login-btn:hover
    background-color: rgb(0,230,0)
    border-color: rgb(0,230,0)

.c4
    color: rgb(255,0,0)

.btn-bot-start
    background-color: rgb(0,230,0)
    border-color: rgb(0,230,0)
    border-radius: 0px
.btn-bot-stop
    background-color: rgb(210,0,0)
    border-color: rgb(210,0,0)
    border-radius: 0px
